# Required
AUTH_JWT_SECRET=change-me
FRONTEND_URL=https://staging.bidmart.store

# Optional
MAIL_FROM=no-reply@bidmart.store
RESEND_API_KEY=

# Midtrans
MIDTRANS_SERVER_KEY=change-me
MIDTRANS_CLIENT_KEY=change-me
